# Database
DATABASE_URL="postgresql://user:password@host:5432/dbname?sslmode=require"

# Auth
JWT_SECRET="your-secret-key"
JWT_EXPIRES_IN="24h"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Store Info
NEXT_PUBLIC_STORE_NAME="My Store"
NEXT_PUBLIC_STORE_ADDRESS="123 Store Street"
NEXT_PUBLIC_STORE_PHONE="+234 000 000 0000"
NEXT_PUBLIC_STORE_EMAIL="store@example.com"
NEXT_PUBLIC_STORE_LOGO="/pos_logo.png"
NEXT_PUBLIC_STORE_COLOR_PRIMARY="#7c3aed"
NEXT_PUBLIC_STORE_COLOR_SECONDARY="#a78bfa"

# Tax
NEXT_PUBLIC_TAX_AMOUNT="0.1"
TAX_AMOUNT="0.1"

# Email — set EMAIL_PROVIDER to one of: NODEMAILER | SENDGRID | RESEND  | AMAZON_SES
EMAIL_PROVIDER="NODEMAILER"

# Nodemailer (EMAIL_PROVIDER=nodemailer)
NODEMAILER_EMAIL="you@gmail.com"
NODEMAILER_PASSWORD="your-app-password"
NODEMAILER_HOST="smtp.gmail.com"
NODEMAILER_PORT="587"

# SendGrid (EMAIL_PROVIDER=sendgrid)
SENDGRID_API_KEY=""
SENDGRID_FROM_EMAIL=""

# Resend (EMAIL_PROVIDER=resend)
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""

# AWS SES (EMAIL_PROVIDER=ses)
SES_FROM_EMAIL=""
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Cron / Scheduler
DISABLE_CRON="false"
OPEN_IN_MIDNIGHT="false"
TZ="UTC"
